In [28]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.stats import mstats
from pandas import Series, DataFrame
import math
import warnings
warnings.filterwarnings('ignore')

In [29]:
df = pd.read_csv('CohnHW3.csv')

In [30]:
df.head()

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,at,ceq,csho,dlc,dltt,ebitda,ppent,costat,prcc_f
0,1000,12/31/1961,1961.0,INDL,C,D,STD,USD,NaN,NaN,0.152,NaN,0.100,NaN,NaN,I,NaN
1,1000,12/31/1962,1962.0,INDL,C,D,STD,USD,NaN,0.552,0.181,NaN,0.000,NaN,NaN,I,NaN
2,1000,12/31/1963,1963.0,INDL,C,D,STD,USD,NaN,0.553,0.186,NaN,0.015,0.046,0.431,I,NaN
3,1000,12/31/1964,1964.0,INDL,C,D,STD,USD,1.416,0.607,0.196,0.088,0.522,0.127,0.563,I,NaN
4,1000,12/31/1965,1965.0,INDL,C,D,STD,USD,2.310,0.491,0.206,0.300,1.154,-0.160,1.397,I,NaN

In [31]:
df['BookLeverage'] = (df['dltt'] + df['dlc']) / (df['dltt'] + df['dlc'] + df['ceq'])
df['MarketLeverage'] = (df['dltt'] + df['dlc']) / (df['dltt'] + df['dlc'] + df['prcc_f'] * df['csho'])
df['AssetTangibility'] = df['ppent'] / df['at']
df['MarketToBook'] = (df['prcc_f'] * df['csho'] + df['dltt'] + df['dlc']) / (df['dltt'] + df['dlc'] + df['ceq']) 
df['Profitability'] = df['ebitda'] / df['at']


df_drop_book_na=df[df['BookLeverage'].notna()==True]
df_drop_market_na=df[df['MarketLeverage'].notna()==True]

In [32]:
def WinsorizeStats(data):
    out = mstats.winsorize(data, limits=[0.01, 0.01])
    return out

In [33]:
df_drop_book_na['BookLeverage']=(WinsorizeStats(df_drop_book_na['BookLeverage']))
df_drop_market_na['MarketLeverage']=(WinsorizeStats(df_drop_market_na['MarketLeverage']))

In [34]:
print('Book Leverage Mean:',df_drop_book_na['BookLeverage'].mean())
print('Market Leverage Mean:', df_drop_market_na['MarketLeverage'].mean())
print('Number of observations for all years:', len(df))

Book Leverage Mean: 0.37349359265305676
Market Leverage Mean: 0.27960229061974406
Number of observations for all years: 542427

In [35]:
# df_book_utilities = df_drop_book_na[df_drop_book_na['sich'].between(4900, 4999)]
# df_market_utilities = df_drop_market_na[df_drop_market_na['sich'].between(4900, 4999)]
print('Book Leverage Mean:',df_book_utilities['BookLeverage'].mean())
print('Market Leverage Mean:', df_market_utilities['MarketLeverage'].mean())
# print('Number of observations for SICH 4900-4999:', len(df[df['sich'].between(4900, 4999)]))

Book Leverage Mean: 0.5395546078938327
Market Leverage Mean: 0.45623704721709063

In [8]:
df_book_manufacturing = df_drop_book_na[df_drop_book_na['sich'].between(2000, 3999)]
df_market_manufacturing = df_drop_market_na[df_drop_market_na['sich'].between(2000, 3999)]
print('Book Leverage Mean:', df_book_manufacturing['BookLeverage'].mean())
print('Market Leverage Mean:', df_market_manufacturing['MarketLeverage'].mean())
print('Number of observations for SICH 2000-3999:', len(df[df['sich'].between(2000, 3999)]))

Book Leverage Mean: 0.32232563938065173
Market Leverage Mean: 0.2343264012506507
Number of observations for SICH 2000-3999: 185828

In [9]:
df_book_banks = df_drop_book_na[df_drop_book_na['sich'].between(6000, 6199)]
df_market_banks = df_drop_market_na[df_drop_market_na['sich'].between(6000, 6199)]
print('Book Leverage Mean:', df_book_banks['BookLeverage'].mean())
print('Market Leverage Mean:', df_market_banks['MarketLeverage'].mean())
print('Number of observations for SICH 6000-6199:', len(df[df['sich'].between(6000, 6199)]))

Book Leverage Mean: 0.5236577045413277
Market Leverage Mean: 0.472968085272345
Number of observations for SICH 6000-6199: 69433

In [10]:
df_book_computer = df_drop_book_na[df_drop_book_na['sich'].between(7372, 7372)]
df_market_computer = df_drop_market_na[df_drop_market_na['sich'].between(7372, 7372)]
print('Book Leverage Mean:', df_book_computer['BookLeverage'].mean())
print('Market Leverage Mean:', df_market_computer['MarketLeverage'].mean())
print('Number of observations for SICH 7372:', len(df[df['sich'].between(7372, 7372)]))

Book Leverage Mean: 0.12526760076705315
Market Leverage Mean: 0.08540191281572733
Number of observations for SICH 7372: 12028

In [11]:
df.head()

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,ceq,csho,dlc,dltt,costat,sich,prcc_f,sic,BookLeverage,MarketLeverage
0,1000,12/31/1961,1961.0,INDL,C,D,STD,USD,NaN,0.152,NaN,0.100,I,3089.0,NaN,3089,NaN,NaN
1,1000,12/31/1962,1962.0,INDL,C,D,STD,USD,0.552,0.181,NaN,0.000,I,3089.0,NaN,3089,NaN,NaN
2,1000,12/31/1963,1963.0,INDL,C,D,STD,USD,0.553,0.186,NaN,0.015,I,3089.0,NaN,3089,NaN,NaN
3,1000,12/31/1964,1964.0,INDL,C,D,STD,USD,0.607,0.196,0.088,0.522,I,3089.0,NaN,3089,0.501233,NaN
4,1000,12/31/1965,1965.0,INDL,C,D,STD,USD,0.491,0.206,0.300,1.154,I,3089.0,NaN,3089,0.747558,NaN